<div class='container'>

  <form action="/" method="POST">
    <div class="form-row">
      <div class="col-md-4 mb-4">
        <label for="validationServer01">Nome</label>
        <input type="text" class="form-control" id="validationServer01" name="first_name" placeholder="Ex: Anderson"
          required>
      </div>

      <div class="col-md-5 mb-3">
        <label for="validationServer02">Sobrenome</label>
        <input type="text" class="form-control" id="validationServer02" name="last_name" placeholder="Ex: Silva sauro"
          required>
      </div>


    </div>

    <div class="form-group">
      <label for="inputZip">CEP *</label>
      <input type="text" class="form-control col-md-2" name="zip" id="inputZip" maxlength="8" required
        onblur="getCEP(this.value)" placeholder="Ex: 38408097">
      <div class="invalid-feedback">
        CEP Inválido
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Rua</label>
        <input type="text" class="form-control" name="address1" id="inputAddress1" placeholder="Rua dos bobos">
      </div>

      <div class="form-group col-md-3">
        <label for="inputNumber">Número</label>
        <input type="number" class="form-control" name="number" id="inputNumber" placeholder="Ex: 0">
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress2">Complemento</label>
      <input type="text" class="form-control col-md-9" name="address2" id="inputAddress2"
        placeholder="Apartamento, casa, fundos">
    </div>
    <div class="form-group">
      <label for="inputAddress3">Bairro</label>
      <input type="text" class="form-control col-md-9" name="address3" id="inputAddress3" placeholder="Bairro">
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" name="city" id="inputCity" placeholder="Guarulhos">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">Estado/UF</label>
        <input type="text" class="form-control" name="state" id="inputState" placeholder="SP">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>

</div>
</div>

<div class='container'>
  <div class='row'>
    {{#if data}}
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Endereço</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cidade</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.first_name}} {{this.last_name}}</td>
          <td>{{this.address.address1}}, {{this.address.number}}</td>
          <td>{{this.address.address3}}</td>
          <td>{{this.address.city}}</td>
          <td>{{this.address.state}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div class="container no-data">
      <p>No data available</p>
    </div>
    {{/if}}
  </div>
</div>

<style>
  .container {
    margin-top: 10px
  }

  .no-data {
    margin-left: 15px
  }
</style>

<script>
  async function getCEP(cep) {

    const res = await fetch(`/getaddress?zip=${cep}`)
    const data = await res.json()
    if (res.status === 200) {
      getElement(data)
    } else {
      wrongCep(cep)
    }
  }

  function getElement(data) {
    const zip = document.getElementById('inputZip');
    zip.classList.remove('is-invalid');
    const adress1 = document.querySelector('#inputAddress1');
    const adress2 = document.querySelector('#inputAddress2');
    const adress3 = document.querySelector('#inputAddress3');
    const city = document.querySelector('#inputCity');
    const state = document.querySelector('#inputState')

    document.querySelector('#inputNumber').focus();

    adress1.value = data.logradouro;
    adress2.value = data.complemento;
    adress3.value = data.bairro;
    city.value = data.localidade;
    state.value = data.uf

    adress1.setAttribute('readonly', 'true');
    adress3.setAttribute('readonly', 'true');
    city.setAttribute('readonly', 'true');
    state.setAttribute('readonly', 'true');

  }
  function wrongCep() {
    const zip = document.getElementById('inputZip');
    zip.classList.add('is-invalid');
    zip.value = '';
    zip.focus();
    return;
  }
</script>